<div class="modal-header">
  <h4 class="modal-title"> Agregar negocio </h4>

  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div
  *ngIf="form.errors"
  class="alert alert-danger">
  Completa el formulario correctamente antes de enviar.
  </div>
  <div class="modal-body">
    <div class="form-row">
      <div class="form-group col-md-12">
        <!-- Name input form. -->
        <label for="name">Nombre del negocio</label>
        <input
          formControlName="name"
          id="name"
          type="text"
          class="form-control" />

          <!-- Name validation error text.-->
          <!-- Quantity in stock validation error text. -->
          <div
            *ngIf="nameForm.touched && nameForm.invalid"
            class="alert alert-danger">
            <div *ngIf="nameForm.errors.required"> Debes especificar el nombre de tu nueva tienda. </div>
            <div *ngIf="nameForm.errors.minlength"> Ese nombre es muy corto. Intenta más de 3 caracteres. </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <!-- Descripcion-->
        <label for="description">Descripción del negocio</label>
        <input
          formControlName="description"
          id="description"
          type="text"
          class="form-control">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <!--Tienda de servicio?-->
        <div class="form-check">
          <label class="form-check-label" for="isServiceStore">¿Es tienda de servicio?</label>
          <input
            formControlName="isServiceStore"
            id="isServiceStore"
            type="checkbox"
            class="form-check-input" />
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-primary">
      Crear tienda
    </button>
    <button
      (click)="activeModal.close('Close click')"
      type="button" class="btn btn-outline-dark">
      Cancelar
    </button>
  </div>
</form>

